<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_xclick-subscriptions">
	<input type="hidden" name="business" value="FCUWUBDAF4LTU">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="Recurring Donation Button">
	<input type="hidden" name="no_note" value="1">
	<input type="hidden" name="no_shipping" value="2">
	<input type="hidden" name="src" value="1">
	<input type="hidden" name="a3" value="1.00">
	<input type="hidden" name="p3" value="1">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
	<table>
		<tr>
			<td>When would you like this donation to recur?</td>
		</tr>
		<tr>
			<td><select name="t3">
				<option value="M">Monthly </option>
				<option value="W">Weekly </option>
				<option value="Y">Yearly </option>
			</select></td>
		</tr>
		<tr>
			<td>Enter your Donation Amount</td>
		</tr>
		<tr>
			<td><td><input type="text" name="a3" maxlength="60"></td></td>
		</tr>
	</table>
	<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
